.premium-tipografia,
input,
textarea {
  font-family: "PT Serif", serif;
}

.premium-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.premium-nav img {
  width: 75px;
}

.premium-nav-contenido a {
  color: #239A95;
  font-size: 20px;
  margin-left: 35px;
  font-weight: bold;
  display: inline-block;
  transition: transform 0.3s ease;
}

.premium-nav-contenido a:hover {
  transform: scale(1.15);
}


/* NAV RESPONSIVE */
@media (max-width: 1024px) {
  .premium-nav img {
    width: 60px;
  }
}

@media (max-width: 480px) {
  .premium-nav {
    padding: 10px 10px;
  }

  .premium-nav img {
    width: 50px;
  }

  .premium-nav-contenido a {
    font-size: 12px;
    margin-left: 18px;
  }
}




/* HEADER */

.premium-header {
  position: relative;
}

.premium-header img {
  width: 100%;
}

.premium-header img:nth-child(2) {
  display: none;
}

.premium-header-contenido {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 40px;
}

.premium-header-contenido h3 {
  color: #fff;
  font-size: 40px;
}

.premium-header-contenido-links {
  display: flex;
  gap: 100px;
}

.premium-header-contenido-links a {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 50px;
  transition: transform 0.3s ease;
}

.premium-header-contenido-links a:hover {
  transform: scale(1.15);
}

.premium-header-contenido-links a:nth-child(1) {
  color: #fff;
  background-color: #09A29B;
}

.premium-header-contenido-links a:nth-last-child(1) {
  color: #000;
  background-color: #fff;
}



/* HEADER RESPONSIVE */
@media (max-width: 1024px) {
  .premium-header-contenido {
    gap: 25px;
  }

  .premium-header-contenido h3 {
    font-size: 30px;
  }

  .premium-header-contenido-links {
    gap: 50px;
  }

  .premium-header-contenido-links a {
    font-size: 15px;
    padding: 10px 30px;
  }
}

@media (max-width: 768px) {
  .premium-header-contenido {
    gap: 20px;
  }

  .premium-header-contenido h3 {
    font-size: 25px;
  }

  .premium-header-contenido-links {
    gap: 40px;
  }

  .premium-header-contenido-links a {
    padding: 10px 25px;
  }
}

@media (max-width: 480px) {

  .premium-header img:nth-child(1) {
    display: none;
  }

  .premium-header img:nth-child(2) {
    display: block;
  }

  .premium-header-contenido {
    gap: 20px;
  }

  .premium-header-contenido-links {
    gap: 25px;
  }

  .premium-header-contenido-links a {
    font-size: 12px;
    padding: 10px 20px;
  }
}


/* BENEFICIOS */

.premium-beneficios {
  margin: 150px 0;
}

.premium-beneficios h3 {
  font-size: 40px;
  color: #239A95;
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
}

.premium-beneficios-contenido {
  display: flex;
  justify-content: center;
  gap: 150px;
}

.premium-beneficios-contenido p {
  font-size: 25px;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #B2F7FF;
  text-align: center;
}

@keyframes deslizar {
  0% {
    transform: translateX(-100%)
  }

  60% {
    transform: translateX(30px);
  }

  80% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0)
  }
}

.premium-deslizar {
  animation: deslizar 2s ease-out forwards;
}



/* BENEFICIOS RESPONSIVE */

@media (max-width: 1024px) {
  .premium-beneficios h3 {
    font-size: 30px;
  }

  .premium-beneficios-contenido {
    gap: 50px;
  }

  .premium-beneficios-contenido p {
    font-size: 20px;
    padding: 10px 25px;
  }
}

@media (max-width: 768px) {
  .premium-beneficios h3 {
    font-size: 30px;
  }

  .premium-beneficios-contenido {
    gap: 40px;
  }

  .premium-beneficios-contenido p {
    font-size: 15px;
    padding: 10px 20px;
  }
}

@media (max-width: 468px) {
  .premium-beneficios {
    margin: 100px 0;
  }

  .premium-beneficios h3 {
    font-size: 25px;
    margin-bottom: 25px;
  }

  .premium-beneficios-contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 0 20px;
  }

  .premium-beneficios-contenido p:nth-child(3) {
    grid-column: span 2;
  }

  .premium-beneficios-contenido p {
    font-size: 10px;
    padding: 10px 5px;
  }
}



/* SERVICIOS */
.premium-servicios {
  padding: 75px 0;
  background-color: #239A95;
}

.premium-servicios h3 {
  font-size: 40px;
  margin-bottom: 50px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.premium-servicios-contenedor {
  padding: 0 75px;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.premium-servicio {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  position: relative;
  cursor: pointer;
}

.premium-servicio img {
  width: 100px;
}

.premium-servicio p {
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.premium-servicio-descripcion {
  position: absolute;
  bottom: 120%;
  width: 300px;
  background-color: #00403A;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.premium-servicio:hover .premium-servicio-descripcion {
  visibility: visible;
  opacity: 1;
}



/* SERVICIOS RESPONSIVE */

@media (max-width: 768px) {
  .premium-servicios {
    padding: 75px 0;
  }

  .premium-servicios h3 {
    font-size: 35px;
  }

  .premium-servicios-contenedor {
    padding: 0 25px;
    gap: 10px;
  }

  .premium-servicio img {
    width: 70px;
  }

  .premium-servicio p {
    font-size: 15px;
  }

  .premium-servicio-descripcion {
    width: 150px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .premium-servicios {
    padding: 50px 0;
  }

  .premium-servicios h3 {
    font-size: 25px;
    margin-bottom: 30px;
  }

  .premium-servicios-contenedor {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }

  .premium-servicio img {
    width: 50px;
  }

  .premium-servicio p {
    font-size: 10px;
  }

  .premium-servicio-descripcion {
    bottom: 120%;
    width: 120px;
  }
}



/* EQUIPO */
.premium-equipo {
  margin: 150px 0;
}

.premium-equipo h3 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.premium-equipo-contenedor {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.premium-miembro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.premium-miembro img {
  width: 200px;
  border-radius: 100%;
}

.premium-miembro p {
  font-size: 20px;
  text-align: center;
}





/* EQUIPO RESPONSIVE */
@media (max-width: 768px) {
  .premium-equipo {
    margin: 150px 0;
  }

  .premium-equipo h3 {
    font-size: 30px;
  }

  .premium-miembro img {
    width: 175px;
  }

  .premium-miembro p {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .premium-equipo {
    margin: 100px 0;
  }

  .premium-equipo h3 {
    font-size: 25px;
    margin-bottom: 30px;
  }

  .premium-miembro img {
    width: 75px;
  }

  .premium-miembro p {
    font-size: 10px;
  }
}



/* CASOS */

.premium-casos {
  background-color: #239A95;
  padding: 75px 0;
}

.premium-casos h3 {
  font-size: 40px;
  margin-bottom: 35px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.premium-casos-contenedor {
  padding: 0 30px;
  gap: 20px;
  display: flex;
  justify-content: space-evenly;
  ;
  align-items: center;
  color: #fff;
}

.premium-caso p:nth-child(1) {
  color: #c5c5c5;
}

.premium-caso p {
  font-size: 15px;
}


/* CASOS RESPONSIVE */
@media (max-width: 768px) {
  .premium-casos h3 {
    font-size: 30px;
  }

  .premium-casos-contenedor {
    padding: 0 20px;
  }
}

@media (max-width: 480px) {
  .premium-casos {
    padding: 50px 0;
  }

  .premium-casos h3 {
    font-size: 25px;
  }

  .premium-casos-contenedor {
    padding: 0 20px;
  }

  .premium-caso p {
    font-size: 10px;
  }
}




/* FORMULARIO */
.premium-agenda {
  margin: 150px 100px;
}

.premium-agenda h3 {
  font-size: 40px;
  margin-bottom: 35px;
  font-weight: bold;
  text-align: center;
}

.premium-agenda-contenedor {
  display: flex;
  gap: 100px;
}

.premium-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  flex: 1;
}

.premium-inputs input,
textarea {
  background-color: #F0F0F0;
  padding: 20px 20px;
  font-size: 15px;
  font-weight: bold;
  color: #939393;
  border: none;
  border-radius: 10px;
}

.premium-inputs textarea {
  height: 200px;
  grid-column: span 2;
}

.premium-dia {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.premium-calendario {
  padding: 15px;
  border-radius: 10px;
}

.premium-input-hora {
  background-color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}

.premium-agenda-submit {
  font-size: 20px;
  padding: 10px 30px;
  margin-top: 20px;
  color: #fff;
  cursor: pointer;
  background-color: #239A95;
  border: none;
}

@media (max-width: 1024px) {
  .premium-agenda {
    margin: 150px 50px;
  }

  .premium-agenda-contenedor {
    gap: 30px;
  }

  .premium-inputs textarea {
    height: 250px;
    grid-column: span 2;
  }
}